body{
    padding:0;
    margin:0;
    font-family: Arial;
    line-height: 1.3em;
    background-image:linear-gradient(to right,rgb(162, 225, 233),rgb(106, 168, 172));
}
section{
    width:80%;
    margin:auto;
    overflow:auto;
}
section .reviews, section .morolt, section .voyage{
    float: right;
    max-width:100%;
    width: auto;
    margin-bottom: 6px;
    margin-right: 6px;
    box-shadow:4px 4px 3px grey;
}
section .reviewreinmar, section .reviewwalther{
    max-width: 230px;
    float: right;
    width: auto;
    margin-bottom: 6px;
    margin-right: 6px;
    box-shadow: 4px 4px 3px grey;
}
header{
    text-align:center;
}
header img{
    max-width:100%;
    width:auto;
    box-shadow:8px 8px 5px grey;
}
hr{
    width:35%;
    margin-left:0;
}
pre{
    font-size:1.3em;
}
nav{
    width:80%;
    margin: auto;
}
nav li{
    list-style-type: none;
    display:inline-block;
}
nav li a{
    margin-right:50px;
    font-size:1.3em;
}
/* stylize first letter in
the "birth" episode
*/

.firstline::first-letter{
    font-size:200%;
    font-family:"old english text mt";
    color:rgb(8, 71, 107);
    padding:0 5px;
    margin:0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,3px 3px 4px #000000;  
}
@media screen and (max-width: 950px){
    section .reviews, section .morolt, section .voyage{
        float: none;
        display: block;
    }
    section .reviewreinmar, section .reviewwalther{
        float: none;
        display: block;
        max-width:100%;
    }
}