*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: Arial;
    line-height: 1.3em;
    background-image:linear-gradient(to right,rgb(133, 170, 172),rgb(232, 240, 241));
}
article{
    width:80%;
    margin:auto;
}
header{
    text-align:center;
    margin:0;
    padding: 15px;
    background-color: rgb(63, 12, 12);
}
header h2{
    color: white;
    margin: 0;
    padding: 0;
}
article hr{
    width:30%;
    margin-left:0;
}
article img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width: 96%;
    width: auto;
    box-shadow:8px 8px 5px grey;
}
.onecol{
    width:70%;
    margin: auto;
    overflow:auto;
}
.twocols{
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    overflow: auto;
    font-size:1.2em;
}
.twocols .leftcol{
    overflow: auto;
    margin:5px;
}
.twocols .rightcol{
    overflow: auto;
    margin: 5px;
}
footer{
    background-color: rgb(63, 12, 12);
    text-align: center;
}
footer ul{
    width: 100%;
    list-style-type: none;
    color: white;
}
footer ul #emailme{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer ul li{
    display: inline-block;
    padding: 10px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
    color:#cccccc;
}
@media screen and (max-width: 700px){
    article{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    article{
        width: 99%;
    }
}