body{
    padding:0;
    margin:0;
    font-family: Arial;
    line-height: 1.3em;
    background-image:linear-gradient(to right,rgb(133, 170, 172),rgb(232, 240, 241));
}
article{
    width:80%;
    margin:auto;
}
article header{
    text-align:center;
}
article hr{
    width:30%;
    margin-left:0;
}
#gotefrit{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
img{
    max-width:97%;
    width:auto;
    box-shadow: 8px 8px 4px grey;
}
footer{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(22, 81, 99);
    height: 50px;
}
footer h3{
    margin: 0;
    padding: 0;
}
footer a{
    margin: 0;
    line-height: 50px;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #cccccc;
}
@media screen and (max-width: 700px){
    article{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    article{
        width: 99%;
    }
}